{% extends "template.html" %}

{% block cadastrar %}
        <title>Cadastro de Bebidas</title>
    </head>
    <body>
        <h1>Cadastre Sua Bebida</h1>
        
        <form>
            <div class="mb-3">
                <label for="Nome_bebida">Insira o nome da Bebida:</label>
                <input type="text" id="Nome_bebida" name="Nome_bebida" required>
            </div>
            
            <div>
                <label for="valor">Valor da Bebida:</label>
                <input type="number" id="valor" name="valor" step="0.01" required>
            </div>
            
            <div>
                <label for="Marca">Marca da bebida:</label>
                <input type="text" id="Marca" name="Marca" required>
            </div>

            <div>
                <label for="Tipo_bebida">Tipo da bebida:</label>
                <input type="text" id="Tipo_bebida" name="Tipo_bebida" required>
            </div>

            <button type="submit">Cadastrar</button>
        </form>
    </body>
{% endblock %}
