{% extends "template.html" %}


{% block catalogo %}
    <head>
        <title>Catalogo Bebidas</title>
        <link rel="stylesheet" href="/static/styles_catalogo_user.css">
        
    </head>
    <body>
        

        <h2>Bebidas:</h2>
        
        <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Tipo</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Preço</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bebidas in catalogo_bebidas %}
                    <tr>
                        <td>{{ bebidas.tipo_produto }}</td>
                        <td>{{ bebidas.nome_produto }}</td>
                        <td>{{ bebidas.marca_produto }}</td>
                        <td>{{ bebidas.preco_produto }}</td>
                        <td>
                            <form action="" method="" style="display:inline;">
                                <button type="submit" class="btn btn-outline-warning">Editar</button>
                            </form>
                            <a>|</a>
                            <form action="{{ url_for('excluir_bebidaID', id=bebidas.id) }}" method="POST" style="display:inline;">
                                <button class="btn btn-outline-danger" type="submit" 
                                onclick="return confirm('Quer mesmo excluir o gorô?')">Excluir</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
    </body>

{% endblock %}