{% extends "template.html" %}


{% block catalogo %}
    <head>
        <title>Catalogo Bebidas</title>

    </head>
    <body>
        <h2>Bebidas:</h2>
        
        <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Preço</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bebidas in catalogo_bebidas %}
                    <tr>
                        <td scope="col">{{ bebidas.id }}</td>
                        <td>{{ bebidas.tipo_produto }}</td>
                        <td>{{ bebidas.nome_produto }}</td>
                        <td>{{ bebidas.marca_produto }}</td>
                        <td>{{ bebidas.preco_produto }}</td>
                        <td>
                            <a href="">Editar</a>
                            <a>|</a>
                            <a href="">Excluir</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
    </body>

{% endblock %}