
{% block home %}
    <title>Inicio</title>
    <link rel="stylesheet" href="/static/styles_inicio.css">
</head>
<body>
    <header>
        <h1>Adega do Ponto</h1>
        <nav>
            <ul>
                <li><a href="#shows">Dias de Show</a></li>
                <li><a href="#endereco">Endereço</a></li>
                <li><a href="#contato">Contato</a></li>
            </ul>
        </nav>
    </header>

    <div class="catalogo-button">
        <a href="/catalogo" class="botao-catalogo">Ver Catálogo de Bebidas</a>
    </div>

    <main>
        <section id="shows">
            <h2>Shows</h2>
            <div class="shows_grid">
                <div class="doce_encontro">
                    <h3>Doce Encontro</h3>
                    <span>Entrada R$ 50,00</span>
                </div>
               
                <div class="exalta_samba">
                    <h3>Exalta Samba</h3>
                    <span>R$ 70,00 </span>
                </div>
            </div>
        </section>
        
        <section id="endereco">
            <h2>Endereço</h2>
            <p>Avenida aprigio 455, Taboão da serra</p>
        </section>
    </main>
    
    <footer>
        <p>Contato: contato@adegadoponto.com.br</p>
        <p>&copy; 2024 Adega Do Ponto. Todos os direitos reservados.</p>
    </footer>
</body>
{% endblock %}
